@import url("./Toggle/css/toggle.css");
@import url("./ToggleSchematic/css/toggleSchematic.css");
@import url("./FloorSelector/css/floorSelector.css");
@import url("./Timetable/css/timetable.css");
@import url("./Viewpoints/css/viewpoints.css");
@import url("./Popup/css/popup.css");
