@import "../../../../css/variables.scss";

#appDiv .viewpoints {
  width: 300px;
  margin-left: -100px;
  pointer-events: all;

  h2.slash-title {
    margin-bottom: 20px;
  }

  & > div > div {
    height: 30px;
  }

  a {
    color: rgba(255,255,255,0.5);
    margin-left: 8px;
    text-decoration: none;
  }

  svg {
    width: 15px;
    opacity: 0.5;
    vertical-align: -2px;
  }

  .viewpoint {
      -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
       transition: all 0.8s;
    margin-left: 200px;
  }

  .viewpoint:hover {
    font-size: 40px;
  }

  .viewpoint.active:first-child {
    margin-top: -80px;
  }

  .viewpoint:first-child {
    margin-top: 0px;
  }

  .viewpoint {
    font-family: 'Roboto Condensed', sans-serif; // import font!
    cursor: pointer;
    list-style: none;
    display: block;
    pointer-events: all;
    width: 100%;
    font-size: 25px;
    text-align: right;
  }

  .viewpoint.active {
    font-size: 90px;
    margin-top: -30px;
    margin-bottom: -20px;
    margin-left: 10px;
    color: #F6A803;
    text-transform: uppercase;
    pointer-events: all;
  }
}


#appDiv .active .viewpoints {
  .viewpoint {
    margin-left: 0;
  }

  .viewpoint:nth-child(1) {
      @include transition-delay(0.1s);
  }

  .viewpoint:nth-child(2) {
      @include transition-delay(0.2s);
  }

  .viewpoint:nth-child(3) {
      @include transition-delay(0.3s);
  }

  .viewpoint:nth-child(4) {
      @include transition-delay(0.4s);
  }

  .viewpoint:nth-child(5) {
      @include transition-delay(0.5s);
  }
}
