@import "../../../../css/variables.scss";
@import "../../../../css/mixins.scss";

#appDiv .viewpoints {
  width: 300px;
  margin-left: -100px;
  pointer-events: all;

  h2.slash-title {
    margin-bottom: 20px;
  }

  & > div > div {
    height: 30px;
  }

  a {
    color: $viewpointItemColor;
    margin-left: 8px;
    text-decoration: none;
  }

  svg {
    width: 15px;
    opacity: 0.5;
    vertical-align: -2px;
  }

  .viewpoint {
    @include transition(all 0.5s);
    margin-left: 200px;
    font-family: 'Roboto Condensed', sans-serif; // import font!
    cursor: pointer;
    list-style: none;
    display: block;
    pointer-events: all;
    width: 100%;
    font-size: $viewpointItemFontSize;
    text-align: right;

    &:first-child {
      margin-top: 0;
    }

    &.active {
      font-size: $viewpointItemActiveFontSize;
      color: $viewpointItemActiveColor;

      &:first-child {
        margin-top: 0;
      }

      &:hover {
        color: $viewpointItemActiveColor;
      }
    }

    &:hover {
      font-size: $viewpointItemOverFontSize;
      color: $viewpointItemOverColor;
    }
  }
}


#appDiv .active .viewpoints {
  .viewpoint {
    margin-left: 0;
  }

  .viewpoint:nth-child(1) {
      @include transition(all 0.5s, margin-left 0.8s 0.1s);
  }

  .viewpoint:nth-child(2) {
      @include transition(all 0.5s, margin-left 0.8s 0.2s);
  }

  .viewpoint:nth-child(3) {
      @include transition(all 0.5s, margin-left 0.8s 0.3s);
  }

  .viewpoint:nth-child(4) {
      @include transition(all 0.5s, margin-left 0.8s 0.4s);
  }

  .viewpoint:nth-child(5) {
      @include transition(all 0.5s, margin-left 0.8s 0.5s);
  }
}
