/***************
  Colors
****************/

// Global:
$primaryColor: #fff;
$secondaryColor: #a3a3a3;
$orange: #F6A803;

// Menu:
$menuItemColor: $primaryColor;
$menuItemActiveColor: $orange;
$menuItemOverColor: $primaryColor;

// Viewpoints:
$viewpointItemColor: $primaryColor;
$viewpointItemActiveColor: $orange;
$viewpointItemOverColor: $primaryColor;

// Floors

// Surroundings 


/***************
  Font sizing
****************/

$generalFontSize: 15px;
$bigTitleFontSize: 5 * $generalFontSize + 10px;

// Menu
$menuItemFontSize: 23px;
$menuItemActiveFontSize: 23px;
$menuItemOverFontSize: 26px;

// Viewpoints
$viewpointItemFontSize: 25px;
$viewpointItemActiveFontSize: 40px;
$viewpointItemOverFontSize: 40px;

// Floors
$floorSelectorLevelFontSize: 25px;
$floorSelectorLevelOverFontSize: 60px;
$floorSelectorLevelActiveFontSize: 90px;

/***************
  Sizing
****************/

// Menu
$menuTopPosition: 25px;
$menuSlashMarginLeft: $menuItemFontSize + 2px;
$menuSlashMarginRight: $menuItemFontSize - 3px;
